root = true

# Global settings
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# C# code style
[*.cs]
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

csharp_new_line_before_open_brace = all
csharp_indent_block_contents = true
csharp_indent_switch_labels = true
csharp_preferred_modifier_order = public, private, protected, internal, static, readonly, async

dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace

# Naming conventions
dotnet_naming_rule.private_fields_underscore_prefix.symbols = private_fields
dotnet_naming_rule.private_fields_underscore_prefix.style = underscore_prefix
dotnet_naming_rule.private_fields_underscore_prefix.severity = suggestion

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.accessibility = private

dotnet_naming_style.underscore_prefix.required_prefix = _
dotnet_naming_style.underscore_prefix.capitalization = camel_case
